{% extends 'base/admin_base.html' %}
{% block titlename %}添加账户{% endblock %}

{% block main_content %}
<section id="main-content">
  <section class="wrapper">
      <h3><i class="fa fa-angle-right"></i> 数据信息</h3>

	  <!-- BASIC FORM ELELEMNTS -->
	  <div class="row mt">
		  <div class="col-lg-12">
		      <div class="row mtbox">
                <div class="col-md-2 col-sm-2 col-md-offset-1 box0">
                    <div class="box1">
                        <span class="li_heart"></span>
                        <h3>933</h3>
                    </div>
                        <p>933 名专家</p>
                </div>
                <div class="col-md-2 col-sm-2 box0">
                    <div class="box1">
                        <span class="li_cloud"></span>
                        <h3>+48</h3>
                    </div>
                        <p>48 条新增带获取数据.</p>
                </div>
                <div class="col-md-2 col-sm-2 box0">
                    <div class="box1">
                        <span class="li_stack"></span>
                        <h3>23</h3>
                    </div>
                        <p>23 所双一流高校数据.</p>
                </div>
                <div class="col-md-2 col-sm-2 box0">
                    <div class="box1">
                        <span class="li_news"></span>
                        <h3>+100000</h3>
                    </div>
                        <p>新增100000篇文献.</p>
                </div>
                <div class="col-md-2 col-sm-2 box0">
                    <div class="box1">
                        <span class="li_data"></span>
                        <h3>1000</h3>
                    </div>
                        <p>划分社区总数1000.</p>
                </div>

            </div><!-- /row mt -->


		  </div><!-- col-lg-12-->
	  </div>
      <!-- /row -->

      <div class="row mt">
          <div class="col-lg-12">
              <div class="form-panel">
                <h4><i class="fa fa-angle-right"></i> 最新添加</h4>
                    <section id="unseen">
                        <table class="table table-bordered table-striped table-condensed">
                        <thead>
                            <tr>
                              <th></th>
                              <th>ID</th>
                              <th>标题</th>
                              <th>作者</th>
                              <th>出版物</th>
                              <th>出版时间</th>
                              <th>数据源</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td># 1</td>
								<td>ae97432e-9c87-11e9-89b8-005056c00008</td>
								<td>朱禹</td>
								<td>水流量对非共沸工质热泵系统参数的影响</td>
								<td>《天津大学》</td>
								<td>2007</td>
								<td>知网</td>
							</tr>
							<tr>
                                <td># 2</td>
								<td>b19c9f40-9c87-11e9-8b6b-005056c00008</td>
								<td>陈辉</td>
								<td>被动传感器系统的快速航迹起始算法</td>
								<td>《光电工程》</td>
								<td>2008</td>
								<td>知网</td>
							</tr>

							<tr>
                                <td># 3</td>
								<td>b4a8d93e-9c87-11e9-a8fd-005056c00008</td>
								<td>朱洪艳</td>
								<td>一种改进的多模型噪声辨识方法</td>
								<td>《系统仿真学报》</td>
								<td>2003</td>
								<td>知网</td>
							</tr>

							<tr>
                                <td># 4</td>
								<td>b619d3c6-9c87-11e9-a347-005056c00008</td>
								<td>韩红</td>
								<td>一种典型的机载相控阵雷达仿真系统</td>
								<td>《系统工程与电子技术》</td>
								<td>2003</td>
								<td>知网</td>
							</tr>

							<tr>
                                <td># 5</td>
								<td>b619d3c6-9c87-11e9-a347-005056c00008</td>
								<td>韩红</td>
								<td>一种典型的机载相控阵雷达仿真系统</td>
								<td>《系统工程与电子技术》</td>
								<td>2003</td>
								<td>知网</td>
							</tr>

							<tr>
                                <td># 6</td>
								<td>b619d3c6-9c87-11e9-a347-005056c00008</td>
								<td>韩红</td>
								<td>一种典型的机载相控阵雷达仿真系统</td>
								<td>《系统工程与电子技术》</td>
								<td>2003</td>
								<td>知网</td>
							</tr>

							<tr>
                                <td># 7</td>
								<td>b619d3c6-9c87-11e9-a347-005056c00008</td>
								<td>韩红</td>
								<td>一种典型的机载相控阵雷达仿真系统</td>
								<td>《系统工程与电子技术》</td>
								<td>2003</td>
								<td>知网</td>
							</tr>

							<tr>
                                <td># 8</td>
								<td>b619d3c6-9c87-11e9-a347-005056c00008</td>
								<td>韩红</td>
								<td>一种典型的机载相控阵雷达仿真系统</td>
								<td>《系统工程与电子技术》</td>
								<td>2003</td>
								<td>知网</td>
							</tr>

							<tr>
                                <td># 9</td>
								<td>b619d3c6-9c87-11e9-a347-005056c00008</td>
								<td>韩红</td>
								<td>一种典型的机载相控阵雷达仿真系统</td>
								<td>《系统工程与电子技术》</td>
								<td>2003</td>
								<td>知网</td>
							</tr>

							<tr>
                                <td># 10</td>
								<td>b619d3c6-9c87-11e9-a347-005056c00008</td>
								<td>韩红</td>
								<td>一种典型的机载相控阵雷达仿真系统</td>
								<td>《系统工程与电子技术》</td>
								<td>2003</td>
								<td>知网</td>
							</tr>

							<tr>
                                <td># 11</td>
								<td>b619d3c6-9c87-11e9-a347-005056c00008</td>
								<td>韩红</td>
								<td>一种典型的机载相控阵雷达仿真系统</td>
								<td>《系统工程与电子技术》</td>
								<td>2003</td>
								<td>知网</td>
							</tr>

							<tr>
                                <td># 12</td>
								<td>b619d3c6-9c87-11e9-a347-005056c00008</td>
								<td>韩红</td>
								<td>一种典型的机载相控阵雷达仿真系统</td>
								<td>《系统工程与电子技术》</td>
								<td>2003</td>
								<td>知网</td>
							</tr>
                        </tbody>
                    </table>
                </section>
            </div><!-- /content-panel -->
          </div>
      </div>



  </section><! --/wrapper -->
</section><!-- /MAIN CONTENT -->

{% endblock %}
