<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title>登录</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/assets/css/bootstrap.css" rel="stylesheet">
    <!--external css-->
    <link href="../static/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="../static/assets/css/style.css" rel="stylesheet">
    <link href="../static/assets/css/style-responsive.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

	  <!-- js placed at the end of the document so the pages load faster -->
	<script src="../static/assets/js/jquery.js"></script>
	<script src="../static/assets/js/bootstrap.min.js"></script>

	<!--BACKSTRETCH-->
	<!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->
	<script type="text/javascript" src="../static/assets/js/jquery.backstretch.min.js"></script>

	<!-- 引入组件库 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.min.js"></script>
    <!-- 引入Vue -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>


  </head>

  <body>

      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->

    <div id="login-page">
	  <div class="container">

		  <form class="form-login" id="loginForm" action="index.html" @submit.prevent="submit">

			<h2 class="form-login-heading">登录</h2>
			<div class="login-wrap">
				<input type="text" v-model="account" name="account" class="form-control" placeholder="请输入登录账号" autofocus>
				<br>
				<input type="password" v-model="password" name="password" class="form-control" placeholder="请输入密码">
				<label class="checkbox">
					<span class="pull-right">
						<a data-toggle="modal" href="#"> 忘记密码?</a>

					</span>
				</label>
				<button class="btn btn-theme btn-block" @click="login($event)" type="submit"><i class="fa fa-lock"></i> 提交</button>
				<hr>

				<div class="form-error"><i></i><label class="text"></label></div>

			</div>



		  </form>

	  </div>
    </div>

	<script type="text/javascript" src="../static/js/login/login.js"></script>

	<script>
		$.backstretch("../static/assets/img/login-bg.jpg", {speed: 500});
	</script>

  </body>
</html>
