<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">

    <title>{% block titlename %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/assets/css/bootstrap.css" rel="stylesheet">
    <!--external css-->
    <link href="../static/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="../static/assets/lineicons/style.css">

    <!-- Custom styles for this template -->
    <link href="../static/assets/css/style.css" rel="stylesheet">
    <link href="../static/assets/css/style-responsive.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <!--<![endif]&ndash;&gt;-->

    <!-- js placed at the end of the document so the pages load faster -->
    <!--<script src="../static/assets/js/jquery.js"></script>-->
    <script src="../static/assets/js/jquery-1.8.3.min.js"></script>
    <script src="../static/assets/js/bootstrap.min.js"></script>
    <script class="include" type="text/javascript" src="../static/assets/js/jquery.dcjqaccordion.2.7.js"></script>


    <!--common script for all pages-->
    <script src="../static/assets/js/common-scripts.js"></script>

  </head>

  <body>

  <section id="container" >
      <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
      <!--header start-->
      <header class="header black-bg" id="header-app">
          <!--menu hidden start-->
          <div class="sidebar-toggle-box">
              <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
          </div>
          <!--menu hidden end-->
            <!--logo start-->
            <a href="admin.html" class="logo"><b>Triple Helix</b></a>
            <!--logo end-->

            <div class="top-menu">
            	<ul class="nav pull-right top-menu">
                    <li><a class="logout"  @click="logout($event)" >退出登录</a></li>
            	</ul>
            </div>
        </header>
      <!--header end-->

      <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">

              	  <p class="centered"><a href="/admin"><img src="../static/assets/img/ui-sam.jpg" class="img-circle" width="60"></a></p>
              	  <h5 class="centered">{{ user_name }}</h5>

                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-tasks"></i>
                          <span>用户管理</span>
                      </a>
                      <ul class="sub">
                          <li><a href="/admin/add">添加用户</a></li>
                          <li><a href="/admin/accounts">查看用户列表</a></li>
                      </ul>
                  </li>

                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-tasks"></i>
                          <span>爬虫管理</span>
                      </a>
                      <ul class="sub">
                          <li><a href="/admin/setting-spider">爬虫设置</a></li>
                          <li><a href="/admin/data">数据信息</a></li>
                      </ul>
                  </li>

                  <li class="sub-menu">
                      <a href="/admin/logging" >
                          <i class="fa fa-tasks"></i>
                          <span>日志管理</span>
                      </a>
                  </li>


              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->
      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      {% block main_content %}{% endblock %} >
      <!--main content end-->
      <!--footer start-->
      <!--<footer class="site-footer">-->
          <!--<div class="text-center">-->
              <!--<a href="#" class="go-top">-->
                  <!--<i class="fa fa-angle-up"></i>-->
              <!--</a>-->
          <!--</div>-->
      <!--</footer>-->
      <!--footer end-->
  </section>

    <!-- 引入组件库 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.min.js"></script>
    <!-- 引入Vue -->
    <!--<script src="https://unpkg.com/element-ui/lib/index.js"></script>-->
    <script src="../static/js/element-ui/index.js"></script>
    <script src="../static/js/base/base.js"></script>

{% block js_file %}{% endblock %}

  </body>
</html>
